In [87]:
# Celda 1: importar librerías
import requests
import pandas as pd
import time
import json
from sqlalchemy import create_engine, text

tipos_list = []
habilidades_list = []

In [88]:
usuario = "postgres"         # o el que hayas definido
password = "1234"  # la que pusiste al instalar PostgreSQL
host = "localhost"
puerto = "5432"
nombre_bd = "pokemon_db"

engine = create_engine(f'postgresql+psycopg2://{usuario}:{password}@{host}:{puerto}/{nombre_bd}')

with engine.connect() as conn:
    conn.execute(text("DROP TABLE IF EXISTS pokemon"))

In [89]:
resp = requests.get('https://pokeapi.co/api/v2/pokemon')
data = resp.json()
total_pokemons = data['count']
print(total_pokemons)

1302

In [90]:
def extrae_pokemons(id):
    try:
        resp = requests.get(f'https://pokeapi.co/api/v2/pokemon/{id}')
        time.sleep(0.2)
        data = resp.json()

         # Stats como diccionario
        stats = {s["stat"]["name"]: s["base_stat"] for s in data["stats"]}

        # Tipos y habilidades como listas
        tipos = [t["type"]["name"] for t in data["types"]]
        habilidades = [a["ability"]["name"] for a in data["abilities"]]

        # También llenamos las tablas relacionales si las vas a usar luego
        for t in tipos:
            tipos_list.append({"pokemon_id": data["id"], "tipo": t})
        for h in habilidades:
            habilidades_list.append({"pokemon_id": data["id"], "habilidad": h})

        return{
            "id": data["id"],
            "name": data["name"],
            "height": data["height"],
            "weight": data["weight"],
            "base_experience": data["base_experience"],
            "types": json.dumps(tipos),       # Guardado como texto
            "abilities": json.dumps(habilidades),
            "hp": stats.get("hp"),
            "attack": stats.get("attack"),
            "defense": stats.get("defense")
        }
    except Exception as e:
        print(f"error con id{id}: {e}")
        return None

In [ ]:

lista_poke = [extrae_pokemons(i) for i in range(1,20)]

nuevo ciclo
1
2
3
4
5
6
7
8
9
10
nuevo ciclo
31
32
33
34
35
36
37
38
39
40
nuevo ciclo
61
62
63
64
65
66
67
68
69
70
nuevo ciclo
91
92
93
94
95
96
97
98
99
100
nuevo ciclo
121
122
123
124
125
126
127
128
129
130
nuevo ciclo
151
152
153
154
155
156
157
158
159
160
nuevo ciclo
181
182
183
184
185
186
187
188
189
190
nuevo ciclo
211
212
213
214
215
216
217
218
219
220
nuevo ciclo
241
242
243
244
245
246
247
248
249
250
nuevo ciclo
271
272
273
274
275
276
277
278
279
280
nuevo ciclo
301
302
303
304
305
306
307
308
309
310
nuevo ciclo
331
332
333
334
335
336
337
338
339
340
nuevo ciclo
361
362
363
364
365
366
367
368
369
370
nuevo ciclo
391
392
393
394
395
396
397
398
399
400
nuevo ciclo
421
422
423
424
425
426
427
428
429
430
nuevo ciclo
451
452
453
454
455
456
457
458
459
460
nuevo ciclo
481
482
483
484
485
486
487
488
489
490
nuevo ciclo
511
512
513
514
515
516
517
518
519
520
nuevo ciclo
541
542
543
544
545
546
547
548
549
550
nuevo ciclo
571
572
573
574
575
576
577
578
579
580
nuevo ciclo
601
602
603
604
605
606
607
608
609
610
nuevo ciclo
631
632
633
634
635
636
637
638
639
640
nuevo ciclo
661
662
663
664
665
666
667
668
669
670
nuevo ciclo
691
692
693
694
695
696
697
698
699
700
nuevo ciclo
721
722
723
724
725
726
727
728
729
730
nuevo ciclo
751
752
753
754
755
756
757
758
759
760
nuevo ciclo
781
782
783
784
785
786
787
788
789
790
nuevo ciclo
811
812
813
814
815
816
817
818
819
820
nuevo ciclo
841
842
843
844
845
846
847
848
849
850
nuevo ciclo
871
872
873
874
875
876
877
878
879
880
nuevo ciclo
901
902
903
904
905
906
907
908
909
910
nuevo ciclo
931
932
933
934
935
936
937
938
939
940
nuevo ciclo
961
962
963
964
965
966
967
968
969
970
nuevo ciclo
991
992
993
994
995
996
997
998
999
1000
nuevo ciclo
1021
1022
1023
1024
1025
1026
1027
1028
1029
1030
nuevo ciclo
1051
1052
1053
1054
1055
1056
1057
1058
1059
1060
nuevo ciclo
1081
1082
1083
1084
1085
1086
1087
1088
1089
1090
nuevo ciclo
1111
1112
1113
1114
1115
1116
1117
1118
1119
1120
nuevo ciclo
1141
1142
1143
1144
1145
1146
1147
1148
1149
1150
nuevo ciclo
1171
1172
1173
1174
1175
1176
1177
1178
1179
1180
nuevo ciclo
1201
1202
1203
1204
1205
1206
1207
1208
1209
1210
nuevo ciclo
1231
1232
1233
1234
1235
1236
1237
1238
1239
1240
nuevo ciclo
1261
1262
1263
1264
1265
1266
1267
1268
1269
1270
nuevo ciclo
1291
1292
1293
1294
1295
1296
1297
1298
1299
1300

In [91]:
for i in range(1,total_pokemons,30):
    grupo = list(range(i, min(i + 10, total_pokemons)))
    print("nuevo ciclo")
    for poke_id in grupo:
        lista_poke = extrae_pokemons(poke_id)
    
    df = pd.DataFrame(lista_poke)
    df.to_sql('pokemon', engine, if_exists='append', index=False)

nuevo ciclo

ValueError: If using all scalar values, you must pass an index

In [78]:
df = pd.DataFrame(lista_poke)

In [79]:
df.head(20)

,id,name,height,weight,base_experience,types,abilities,hp,attack,defense
0,1,bulbasaur,7,69,64,"[""grass"", ""poison""]","[""overgrow"", ""chlorophyll""]",45,49,49
1,2,ivysaur,10,130,142,"[""grass"", ""poison""]","[""overgrow"", ""chlorophyll""]",60,62,63
2,3,venusaur,20,1000,236,"[""grass"", ""poison""]","[""overgrow"", ""chlorophyll""]",80,82,83
3,4,charmander,6,85,62,"[""fire""]","[""blaze"", ""solar-power""]",39,52,43
4,5,charmeleon,11,190,142,"[""fire""]","[""blaze"", ""solar-power""]",58,64,58
5,6,charizard,17,905,240,"[""fire"", ""flying""]","[""blaze"", ""solar-power""]",78,84,78
6,7,squirtle,5,90,63,"[""water""]","[""torrent"", ""rain-dish""]",44,48,65
7,8,wartortle,10,225,142,"[""water""]","[""torrent"", ""rain-dish""]",59,63,80
8,9,blastoise,16,855,239,"[""water""]","[""torrent"", ""rain-dish""]",79,83,100
9,10,caterpie,3,29,39,"[""bug""]","[""shield-dust"", ""run-away""]",45,30,35
10,11,metapod,7,99,72,"[""bug""]","[""shed-skin""]",50,20,55
11,12,butterfree,11,320,178,"[""bug"", ""flying""]","[""compound-eyes"", ""tinted-lens""]",60,45,50
12,13,weedle,3,32,39,"[""bug"", ""poison""]","[""shield-dust"", ""run-away""]",40,35,30
13,14,kakuna,6,100,72,"[""bug"", ""poison""]","[""shed-skin""]",45,25,50
14,15,beedrill,10,295,178,"[""bug"", ""poison""]","[""swarm"", ""sniper""]",65,90,40
15,16,pidgey,3,18,50,"[""normal"", ""flying""]","[""keen-eye"", ""tangled-feet"", ""big-pecks""]",40,45,40
16,17,pidgeotto,11,300,122,"[""normal"", ""flying""]","[""keen-eye"", ""tangled-feet"", ""big-pecks""]",63,60,55
17,18,pidgeot,15,395,216,"[""normal"", ""flying""]","[""keen-eye"", ""tangled-feet"", ""big-pecks""]",83,80,75
18,19,rattata,3,35,51,"[""normal""]","[""run-away"", ""guts"", ""hustle""]",30,56,35

In [80]:
df.to_sql('pokemon', engine, if_exists='replace', index=False)

19

        name  height  weight  base_experience
0  bulbasaur       7      69               64